<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>

		<!--Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

		<!--Google Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Poller+One&display=swap" rel="stylesheet"> 

		<!-- Css Style Sheet -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<p>
					<i class="fab fa-jedi-order fa-2x"></i> FORCE BURGERS!
				</p>
				<h2>
					Burger Tracker App
				</h2>
				<p>

				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<!-- CARD -->
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Add a Burger</h5>
					<h6 class="card-subtitle mb-2 text-muted"></h6>

					<form class="create-form">
						<div class="form-group">
							<label for="ca">Burger Name:</label>
							<input type="text" id="ca" name="name">
						</div>

						<div class="form-group">
							<label for="devoured">Eaten?</label><br>
							<input type="radio" name="devoured" value="1" checked> Already Eaten!<br>
							<input type="radio" name="devoured" value="0"> Need to Eat
						</div>

						<button class="btn btn-outline-secondary" type="submit">Add Burger</button>
					</form>

				</div>
			</div>
			<!-- End Card -->
		</div>
		<div class="col-md-6">
			{{{ body }}}
		</div>
		<!-- Menu -->
		<div class="col-md-3">

			<div id="menu" class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title"><i style="color: lightblue;" class="fas fa-journal-whills"></i> Specialty Burgers</h5>
					<h6 class="card-subtitle mb-2 text-muted"></h6>
					<ul>
						<li>Sio Bibble</li>
						<li>Dud Bolt</li>
						<li>Shu Mai</li>
						<li>Sweitt Concorkill</li>
						<li>Loatha Sommover</li>

					</ul>



				</div>
			</div>

		</div>
		<!-- End Menu -->
	</div>
</div>
</body>

</html>