body {
  background-image: url(../images/starry-sky.jpg);
  background-size: cover;
  color: yellow;
}
.jumbotron {
  height: 300px;
  background-color: transparent;
  text-align: center;
  font-size: 55px;
  font-family: 'Poller One', cursive;
}
.card {
  background-color: transparent;
  font-family: 'Poller One', cursive;
  color: lightblue;
  border: lightblue;
  border-width: 2px;
}
.card-title {
  color: yellow;
}
h2 {
  font-family: 'Poller One', cursive;
  color: lightblue;
}
li {
  padding: 5px;
  margin: 5px;
  font-family: 'Poller One', cursive;
  font-size: larger;
  color: yellow;
}
ul {
  font-family: 'Poller One', cursive;
  color: yellow;
}

.label {
  font-weight: bold;
  font-family: 'Poller One', cursive;
  color: yellow;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
#menu {
  height: 300px;
}